# Replace these values for staging or production deployment
GHCR_OWNER=Brayan-137
CORE_IMAGE_TAG=latest
GAMIFICATION_IMAGE_TAG=latest

APP_ENV=production
APP_DEBUG=false
CORE_APP_URL=http://localhost:8000
GAMIFICATION_APP_URL=http://localhost:8001

LOG_CHANNEL=stack
LOG_LEVEL=debug
DB_CONNECTION=mysql
DB_PORT=3306
DB_USERNAME=priorix
DB_PASSWORD=secret
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null

JWT_TTL=15
JWT_BLACKLIST_ENABLED=false
JWT_SECRET=doDEtIR5D2y6DJ7ws7zrMX3QT79FgMleOkUvcU2dZcnvx4ZqhYA3ouNa3tKZlqZD
INTERNAL_SERVICE_SECRET=MHJ9q5+s0YeULKmD0F+DcvXcUgjhI9/GXjX5XqGEg7Q=
JAEGER_ENDPOINT=http://jaeger:4318/v1/traces
PROMETHEUS_STORAGE_ADAPTER=redis
CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis
JWT_ALGO=HS256

CORE_DB_DATABASE=priorix_core
GAMIFICATION_DB_DATABASE=priorix_gamification
PROMETHEUS_PREFIX=priorix_core
PROMETHEUS_REDIS_DB=1
GAMIFICATION_PROMETHEUS_PREFIX=priorix_gamification
GAMIFICATION_REDIS_DB=2

MYSQL_ROOT_PASSWORD=root
