# Ignorar .env reales de cada servicio
priorix-core/.env
priorix-gamification/.env

# Dependencias
priorix-core/vendor/
priorix-gamification/vendor/
priorix-core/node_modules/
priorix-gamification/node_modules/

# Logs
*.log

# Datos de Docker
docker/data/

# Postman files
.postman/
postman/environments/
postman/flows/
postman/globals/
postman/mocks/
postman/specs/
