APP_NAME=PriorixGamification
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql-gamification
DB_PORT=3306
DB_DATABASE=priorix_gamification
DB_USERNAME=priorix
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null

JWT_SECRET=
INTERNAL_SERVICE_SECRET=change-me

JAEGER_ENDPOINT=http://jaeger:4318/v1/traces
PROMETHEUS_STORAGE_ADAPTER=redis
